In [1]:
import pandas as pd
import numpy as np
text = pd.read_csv(r'../../Data/TRAINSET_NEWS.csv')

In [2]:
text.shape

(26399, 4)

In [3]:
text.head(5)

,id,date,title,content
0,20140414_00,20140414,习近平在空军机关调研时强调 加快建设一支空天一体攻防兼备的强大人民空军 为实现中国梦强军梦提...,中共中央总书记、国家主席、中央军委主席习近平14日专程到空军机关就空军建设和军事斗争准备进行...
1,20140414_01,20140414,利比亚临时政府总理辞职,本月8号刚刚被正式任命为利比亚临时政府总理的阿卜杜拉·萨尼13号发表声明说，12号晚他和家人...
2,20140414_02,20140414,关注乌克兰局势,代行乌克兰总统职责的乌克兰议长图尔奇诺夫13号发表讲话，要求占领东部地方政府建筑的抗议者，在...
3,20140414_03,20140414,国内联播快讯,低碳中国行活动正式启动由国家发展改革委等部门共同发起的低碳中国行活动今天正式启动，活动以引导...
4,20140414_04,20140414,刘汉等36人涉黑案继续开庭审理,刘汉、刘维等36人涉嫌犯组织、领导、参加黑社会性质组织罪以及故意杀人罪、包庇、纵容黑社会性质...

In [4]:
len(text['date'].unique())

1814

In [5]:
date_group=text.groupby(['date']).count()

In [6]:
# 每天新闻的数量
date_group.describe()

                id        title      content
count  1814.000000  1814.000000  1814.000000
mean     14.552922    14.536935    14.466373
std       3.008209     3.044533     3.039857
min       4.000000     0.000000     1.000000
25%      13.000000    13.000000    13.000000
50%      14.000000    14.000000    14.000000
75%      16.000000    16.000000    16.000000
max      36.000000    36.000000    36.000000

In [7]:
# 新闻标题长度的统计
(text['title'].str.len()).describe()

count    26370.000000
mean        19.373227
std         11.603298
min          2.000000
25%         13.000000
50%         16.000000
75%         24.000000
max        118.000000
Name: title, dtype: float64

In [8]:
# 新闻内容长度的统计
(text['content'].str.len()).describe()

count    26242.000000
mean       489.893339
std        392.896277
min         19.000000
25%        263.000000
50%        401.000000
75%        609.750000
max       6555.000000
Name: content, dtype: float64